# Python
venv/
__pycache__/
*.pyc
.env

# Project data
data/raw/*
!data/raw/.gitkeep
!data/raw/*.jsonl
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/processed/queries.json
!data/processed/clean_dramas.pkl
!data/processed/embeddings.npy
.ipynb_checkpoints/